.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2d4981;
  min-height: 100vh;
  align-items: center;
}

.App-link {
  color: #0e667e;
}

.GameExternal{
  background-color: rgb(211, 200, 200);
  text-align: center;
  display: inline-block;
  min-width: 80%;
  max-width: 80%;
  margin-top: 10px;
  border-radius: 3px;
}

.GameInternal{
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
